# Ignore as pastas de ambiente virtual (onde quer que estejam)
venv/
env/
.env
.env.development

# Ignore arquivos compilados do python
__pycache__/
*.pyc

# Ignore arquivos do sistema (Mac/Linux/Windows)
.DS_Store
Thumbs.db

# Ignore IDEs
.vscode/
.idea/

/memora_server/static/uploads

/memora_server/db_scripts.py

/memora_server/init_db.py

/memora_server/clean_db.py

/memora_server/teste.py